--- 
title: Mindtree Sample eCom Site 
menu_service: 
  - Native Apps 
  - Web Apps 
  - Mobile Apps
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    
  </head>
  <body>
<!--Header Starts here-->
<div class="top-bar border-bottom margin-bottom">
  <div class="top-bar-left">
    <h4> Logo </h4>
  </div>

  <!--Menu Starts here-->
  <div class="top-bar-right">
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
      <ul class="vertical menu" data-accordion-menu>
        <li><a href="#">Menu From YAML</a>
          <ul class="menu vertical nested">
            <% current_page.data.menu_service.each do |menu_item| %>
              <li>
                <a href="#">
                  <%= menu_item %>
                </a>
              </li>
              <% end %>
          </ul>
        </li>

        <% data.menufile.nested_menu.each do |jMenu| %>
          <li>
            <a href="<%= jMenu.Link %>" alt="<%= jMenu.Alt %>">
              <%= jMenu.Desc %>
            </a>
            <% if jMenu.Sub != 0 %>
            <ul class="menu vertical nested">
              <% jMenu.Sub.each do |subMenu| %>
                <li>
                  <a href="<%= subMenu.Link %>" alt="<%= subMenu.Alt %>">
                    <%= subMenu.Desc %>
                  </a>
                </li>
                <% end %>
            </ul>
            <% end %>
            </li>
          <% end %>
      </ul>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <ul class="menu">
        <li>
          <li>
            <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
		              <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
		              <div class="hamburger">
		                <span class="line"></span>
		                <span class="line"></span>
		                <span class="line"></span>
		              </div>
		            </button>
          </li>
      </ul>
    </div>

  </div>
  <!--Menu Ends here-->
</div>
<!--Header Ends here-->    
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.js"></script>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
